<div class="form-group">
  <label class="control-label col-md-3 col-sm-3 col-xs-12">Username<span class="required">*</span></label>
  <div class="col-md-9 col-sm-9 col-xs-12">
    <input type="text" class="form-control" name="username" placeholder="Your username">
  </div>
</div>

<div class="form-group">
  <label class="control-label col-md-3 col-sm-3 col-xs-12">Password<span class="required">*</span></label>
  <div class="col-md-9 col-sm-9 col-xs-12">
    <input type="password" class="form-control" name="password" placeholder="Your password">
  </div>
</div>

<div class="form-group">
  <label class="control-label col-md-3 col-sm-3 col-xs-12">First Name</label>
  <div class="col-md-9 col-sm-9 col-xs-12">
    <input type="text" class="form-control" name="first_name" placeholder="Your first name">
  </div>
</div>

<div class="form-group">
  <label class="control-label col-md-3 col-sm-3 col-xs-12">Last Name</label>
  <div class="col-md-9 col-sm-9 col-xs-12">
    <input type="text" class="form-control" name="last_name" placeholder="Your last name">
  </div>
</div>

<div class="form-group">
  <label class="control-label col-md-3 col-sm-3 col-xs-12">Email<span class="required">*</span></label>
  <div class="col-md-9 col-sm-9 col-xs-12">
    <input type="text" class="form-control" name="email" placeholder="Your email">
  </div>
</div>

<div class="form-group">
  <label class="control-label col-md-3 col-sm-3 col-xs-12">Type of user<span class="required">*</span></label>
  <div class="col-md-9 col-sm-9 col-xs-12">
    <div class="radio">
      <label><input type="radio" class="flat" name="iCheck" value="admin">Administrator</label>
    </div>
    <div class="radio">
      <label><input type="radio" class="flat" name="iCheck" value="staff">Staff</label>
    </div>
  </div>
</div>
