{% extends 'modal-base.html' %}


{% block modal_id %}modal-edit{% endblock %}

{% block modal_title %}
  Edit
{% endblock %}

{% block modal_body %}
  <div class="x_panel">
    <div class="x_content">
      <br />
      <form class="form-horizontal form-label-left" id="form-edit-user" method="post">
        {% csrf_token %}
        <input type="hidden" name="_method" value="put">
        {% include 'manage_users/form.html' %}
      </form>
    </div>
  </div>
{% endblock %}

{% block modal_footer %}
  <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
  <button type="submit" class="btn btn-primary" id="btn-edit-save">Save</button>
{% endblock %}