<!--This is a email's content that will be sent to user-->
<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <div class="header" style="border-bottom: 1px solid #cac4c4;">
        <p style="color:#7D7D7D;font-weight: bold;font-size: 30px;">Air Polltion Measurment System</p>
    </div>
    <div class="bodyclass" style="margin-top:40px;margin-bottom:40px;">
        <b>Hello,</b>
        <p>Recently someone has requested to reset your password.</p>
        <p>Enter the following verification code to reset your password:</p>
        <p><button style="border: none;padding: 6px 6px 6px 6px;">{{ code }}</button></p>
        <p>Into brower's input bar.</p>
    </div>
    <div class="footer" style="border-top: 1px solid #cac4c4;color: #d7d3d3;">
        <p>Air Pollution Measurment System Team's support. This message was sent to you according your requirement</p>
    </div>
</body>
</html>
