body {
  min-height: 1000px;
}

.navbar-static-top {
  margin-bottom: 19px;
  background-color: #000000;
  border-color: #A9A9A9;
}

.navbar-default .navbar-brand {
  color: #FFF !important;
}

.navbar-default .navbar-brand:hover {
  color: #EED !important;
}

.navbar-default .navbar-nav>li>a:hover {
  color: #EFF !important;
}

.navbar-default .navbar-toggle {
 border-color: transparent !important;
}

.navbar-toggle:hover {
	background-color: #A9A9A9 !important;
}

.navbar-toggle {
	background-color: #000000 !important;
}
